.bannerflex3 {
  width: 100%;
  height: 50vh;
  display: flex;
  text-decoration: none;
  overflow: hidden;

  .bannerInferior {
    width: 100vw;
    height: 50vh;
    display: flex;
    text-decoration: none;
    overflow: hidden;
  }
  .bannerInferiorContenedor {
    height: 50vh;
    width: 100%;
    display: flex;
    text-decoration: none;
    overflow: hidden;

    @each $fotosr in receta1, receta2, receta3, receta4 {
      .bannerInferior#{$fotosr} {
        background-image: url("../imagenes/#{$fotosr}.png");
        flex: 1;
        background-size: cover;
        background-position-x: center;
        text-decoration: none;
        transition: cubic-bezier();
        -webkit-transition: all 0.9s ease; /* Safari y Chrome */
        -moz-transition: all 0.9s ease; /* Firefox */
        -o-transition: all 0.9s ease; /* IE 9 */
        -ms-transition: all 0.9s ease; /* Opera */
        width: 100%;

        .bannerInferiorColor {
          background-color: rgba(0, 0, 0, 0.3);
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          h4 {
            font-size: 1rem;
            color: #fff;
            font-family: "Anton", sans-serif;
            font-weight: 500;
            justify-content: center;
          }
        }

        a {
          text-decoration: none;
        }
      }

      .bannerInferior#{$fotosr}:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
}
.grilla{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 48%;
  justify-items: center;
  align-items: center;
  padding-top: 5vh;

  h2{
    display: flex;
    color: rgb(39, 10, 20);
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .titulosLista{
    color: rgb(39, 10, 20);
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    text-align: justify;
  
    li{
    padding-top: 20px;
    color: rgb(39, 10, 20);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-transform:lowercase;
    margin-left: 40px;
    margin-right: 20px;
    text-align: justify;
    
  }
} 

  .imagenesRecetas{
    height: 700px;
    width: auto;
  }

  }


.tabla {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 20vh 20vw;
}

@media only screen and (max-width: 425px) {
  .bannerflex3 {
    width: 100%;
    height: 20vh;
    display: flex;
    text-decoration: none;
    overflow: hidden;

    .bannerInferior {
      width: 100vw;
      height: 20vh;
      display: flex;
      text-decoration: none;
      overflow: hidden;
    }
    .bannerInferiorContenedor {
      height: 20vh;
      width: 100%;
      display: flex;
      text-decoration: none;
      overflow: hidden;

      @each $fotosr in receta1, receta2, receta3, receta4 {
        .bannerInferior#{$fotosr} {
          background-image: url("../imagenes/#{$fotosr}.png");
          flex: 1;
          background-size: cover;
          background-position-x: center;
          text-decoration: none;
          transition: cubic-bezier();
          -webkit-transition: all 0.9s ease; /* Safari y Chrome */
          -moz-transition: all 0.9s ease; /* Firefox */
          -o-transition: all 0.9s ease; /* IE 9 */
          -ms-transition: all 0.9s ease; /* Opera */
          width: 100%;

          .bannerInferiorColor {
            background-color: rgba(0, 0, 0, 0.3);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
              font-size: 1rem;
              color: #fff;
              font-family: "Anton", sans-serif;
              font-weight: 500;
              justify-content: center;
            }
          }

          a {
            text-decoration: none;
          }
        }

        .bannerInferior#{$fotosr}:hover {
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
          transform: scale(1.15);
        }
      }
    }
  }
  .tabla {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 2vh 2vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .bannerflex3 {
    width: 100%;
    height: 40vh;
    display: flex;
    text-decoration: none;
    overflow: hidden;

    .bannerInferior {
      width: 100vw;
      height: 40vh;
      display: flex;
      text-decoration: none;
      overflow: hidden;
    }
    .bannerInferiorContenedor {
      height: 40vh;
      width: 100%;
      display: flex;
      text-decoration: none;
      overflow: hidden;

      @each $fotosr in receta1, receta2, receta3, receta4 {
        .bannerInferior#{$fotosr} {
          background-image: url("../imagenes/#{$fotosr}.png");
          flex: 1;
          background-size: cover;
          background-position-x: center;
          text-decoration: none;
          transition: cubic-bezier();
          -webkit-transition: all 0.9s ease; /* Safari y Chrome */
          -moz-transition: all 0.9s ease; /* Firefox */
          -o-transition: all 0.9s ease; /* IE 9 */
          -ms-transition: all 0.9s ease; /* Opera */
          width: 100%;

          .bannerInferiorColor {
            background-color: rgba(0, 0, 0, 0.3);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
              font-size: 1rem;
              color: #fff;
              font-family: "Anton", sans-serif;
              font-weight: 500;
              justify-content: center;
            }
          }

          a {
            text-decoration: none;
          }
        }

        .bannerInferior#{$fotosr}:hover {
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
          transform: scale(1.15);
        }
      }
    }
  }
}
